body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 250px;
    border-radius: 45%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

#gift-img-genius {
    height: 230px;
}

#gift-img-badass {
    height: 240px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media1.giphy.com/media/l3nWmPFBffbkCd3Ow/giphy.gif?cid=ecf05e4765sllk5nu0i3bfkhhpb0mmt2g2sr1fik524mgxm0&ep=v1_gifs_related&rid=giphy.gif&ct=g");
}

#gift-img-hot:hover {
    background-image: url("https://media4.giphy.com/media/lMsT2f47tDxFMYdJMC/giphy.gif?cid=ecf05e47r2cloykw713r8qkrw9fpp9048slbig1dh5u1qzb1&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#gift-img-genius:hover {
    background-image: url("https://media0.giphy.com/media/2lozkZo93pKfm48xfl/giphy.gif?cid=ecf05e47vdcuw4l5lk83m39gp9228hnkmxo5yc5pzzcgvny5&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#gift-img-badass:hover {
    background-image: url("images/me.png");
}

#gift-img-cheers:hover {
    background-image: url("https://media3.giphy.com/media/4Tkagznwgrv6A4asQb/giphy.gif?cid=ecf05e47j2q4w29wy1prwim3pg8290fr7jw6w94n2ogk79wj&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/